
@font-face {
    font-family: gaslamp;
    src: url('./assets/HalogenGasLights.otf')
}

@font-face {
    font-family: bars;
    src: url('./assets/mexcellent\ rg.ttf')
}

html {
    background: black;
    color: white;
    
}

#loadd {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;

    -webkit-animation: fadein 4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.body-divs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100vw;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-top: 20px; */
    margin-bottom: 40px;
}


.title-full {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.heading-title {
 font-family: 'bars';
 font-size: 64px;
 text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
 margin-left: 100px;
}

.DN {
    font-size: 84px;
    position: relative;
    top: 15px;
    margin-right: 3px;
}

.DN2 {
    font-size: 84px;
    position: relative;
    top: 15px;
    margin-left: 3px;
}



.by-me {
    font-family: 'bars';
    font-size: 14px;
    text-shadow: 0 0 5px #fff, 0 0 300px #fff, 0 0 10px #228DFF, 0 0 10px #228DFF, 0 0 20px #228DFF, 0 0 15px #228DFF, 0 0 25px #228DFF;
    margin-left: 100px;
}



.slider {
    width: 500px;
    height: 20px;
}

.l-arr {
    background-image: url('./assets/neonarrow2.png');
    transform: rotate(180deg);

    width: 50px;
    height: 50px;
    background-size: 200%;
}

.r-arr {
    background-image: url('./assets/neonarrow2.png');
    width: 50px;
    height: 50px;
    background-size: 200%;
}



.Space-Time {
    display: flex;
    flex-direction: row;
}

.Space-Time-text {
    font-family: 'gaslamp';
    margin: 10px;
    font-size: 30px;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #228DFF, 0 0 30px #228DFF, 0 0 40px #228DFF, 0 0 55px #228DFF, 0 0 75px #228DFF;
}


.bottom-all {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instructions {
    font-family: 'bars';
    font-size: 20px;
    margin-right: 20px;
    text-shadow: 0 0 5px #fff, 0 0 300px #fff, 0 0 10px #069E2D, 0 0 10px #069E2D, 0 0 20px #069E2D, 0 0 15px #069E2D, 0 0 25px #069E2D;
    margin-top: 10px;
}

.links {
    width: 300px;
    margin-left: -80px;
    
}

#github {
    margin-left: 20px;
    width: 45px;
    height: 40px;
}

#linkedin {
    margin-left: 0px;
    width: 45px;
    height: 40px;
}