
@font-face {
    font-family: gaslamp;
    src: url('./assets/HalogenGasLights.otf')
}

@font-face {
    font-family: bars;
    src: url('./assets/mexcellent\ rg.ttf')
}

html {
    background: black;
    color: white;
    user-select: none;
    
}

#loadd {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;

    -webkit-animation: fadein 0.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.body-divs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100vw;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-top: 20px; */
    margin-bottom: 40px;
}


.title-full {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.heading-title {
 font-family: 'bars';
 font-size: 64px;
 text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
 margin-left: 70px;
}

.DN {
    font-size: 84px;
    position: relative;
    top: 15px;
    margin-right: 3px;
}

.DN2 {
    font-size: 84px;
    position: relative;
    top: 15px;
    margin-left: 3px;
}



.by-me {
    font-family: 'bars';
    font-size: 14px;
    text-shadow: 0 0 5px #fff, 0 0 300px #fff, 0 0 10px #228DFF, 0 0 10px #228DFF, 0 0 20px #228DFF, 0 0 15px #228DFF, 0 0 25px #228DFF;
    margin-left: 100px;
}





.l-arr {
    background-image: url('./assets/neonarrow2.png');
    transform: rotate(180deg);

    width: 50px;
    height: 50px;
    background-size: 200%;
}

.r-arr {
    background-image: url('./assets/neonarrow2.png');
    width: 50px;
    height: 50px;
    background-size: 200%;
}



.Space-Time {
    display: flex;
    flex-direction: row;
}

.Space-Time-text {
    font-family: 'gaslamp';
    margin: 10px;
    font-size: 30px;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #228DFF, 0 0 30px #228DFF, 0 0 40px #228DFF, 0 0 55px #228DFF, 0 0 75px #228DFF;
}


.bottom-all {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instructions {
    font-family: 'bars';
    font-size: 20px;
    margin-right: 20px;
    text-shadow: 0 0 5px #fff, 0 0 300px #fff, 0 0 10px #228DFF, 0 0 10px #228DFF, 0 0 20px #228DFF, 0 0 15px #228DFF, 0 0 25px #228DFF;
    margin-top: 10px;
}

.links {
    width: 300px;
    margin-left: -80px;
    
}

#github {
    margin-left: 20px;
    width: 45px;
    height: 40px;
}

#linkedin {
    margin-left: 0px;
    width: 45px;
    height: 40px;
    
}

/* Slider Styling with help from http://danielstern.ca/range.css/#/ */

input[type=range] {
  -webkit-appearance: none;
  width: 500px;
  margin: 15.55px 0;
  background: black;
  /* margin-top: 20px; */
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
box-shadow: 0 0 15px 5px #228dff, 0px 0px 4.9px #228dff;  background: #c8e3ff;
  border-radius: 25px;
  border: 0px solid rgba(1, 1, 1, 0);
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0 0 5px #fff, 0 0 300px #fff, 0 0 10px rgba(255, 0, 128, 1), 0 0 10px rgba(255, 0, 128, 1), 0 0 20px rgba(255, 0, 128, 1), 0 0 15px rgba(255, 0, 128, 1), 0 0 25px rgba(255, 0, 128, 1);
  border: 10px solid rgba(0, 0, 0, 0);
  height: 35px;
  width: 18px;
  border-radius: 50px;
  background: rgb(255, 192, 223);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -15.55px;
}
/* input[type=range]:focus::-webkit-slider-runnable-track {
  background: #95c8ff;
} */
input[type=range]::-moz-range-track {
  width: 100%;
  height: 13.9px;
  cursor: pointer;
  background: #95c8ff;
box-shadow: 4.9px 4.9px 15px #228dff, 0px 0px 4.9px #228dff;  border-radius: 25px;
  border: 0px solid rgba(1, 1, 1, 0);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 12.5px 12.5px 0px rgba(0, 0, 0, 0), 0px 0px 12.5px rgba(13, 13, 13, 0);
  border: 10px solid rgba(0, 0, 0, 0);
  height: 35px;
  width: 23px;
  border-radius: 50px;
  background: rgba(255, 0, 128, 0.91);
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 13.9px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #95c8ff;
  border: 0px solid rgba(1, 1, 1, 0);
  border-radius: 50px;
box-shadow: 4.9px 4.9px 15px #228dff, 0px 0px 4.9px #228dff;}
input[type=range]::-ms-fill-upper {
  background: #95c8ff;
  border: 0px solid rgba(1, 1, 1, 0);
  border-radius: 50px;
box-shadow: 4.9px 4.9px 15px #228dff, 0px 0px 4.9px #228dff;}
input[type=range]::-ms-thumb {
    box-shadow: 0 0 5px #fff, 0 0 300px #fff, 0 0 10px #228dff, 0 0 10px #228dff, 0 0 20px #228dff, 0 0 15px #228dff, 0 0 25px #228dff;
  border: 10px solid rgba(0, 0, 0, 0);
  height: 35px;
  width: 23px;
  border-radius: 50px;
  background: rgba(255, 0, 128, 0.91);
  cursor: pointer;
  height: 13.9px;
}
/* input[type=range]:focus::-ms-fill-lower {
  background: #95c8ff;
}
input[type=range]:focus::-ms-fill-upper {
  background: #95c8ff;
} */

.slll {
    margin-top: 20px;
}